:root {

}

* {

}

body {
    display: flex;
}

header {
    display: flex;
    
}

h1 {
    display: flex;
    
}

header p {
    display: flex;
    
}

main {
    display: flex;
    
}

section {
    display: flex;
    
}

h2 {
    display: flex;
    
}

h3 {
    display: flex;
    
}

section p {
    display: flex;
    
}

footer {
    display: flex;
    
}

h4 {
    display: flex;
    
}


